@font-face {
    font-family: rubik;
    src: url(fonts/RubikDoodleShadow-Regular.ttf);
}

@font-face {
    font-family: zic;
    src: url(fonts/Ziclets\ W00.ttf);
}

@font-face {
    font-family: fairy;
    src: url(fonts/FairyDust-Regular.ttf);
}

@font-face {
    font-family: superc;
    src: url(fonts/SuperCereal-owLDo.ttf);
}



.digital-clock {
    font-family: superc;
    font-size: 20px;
    color: #333;
    text-align: right;
    position: relative;
    margin-right: 10px;
    display: flex;;

}

@media (max-width: 600px) {
    body {
        font-size: 14px;  }
    }